{% extends "aplicacao/_layout/base.html" %}

{%load static%}
{% load widget_tweaks %}
{%block conteudo%}
<div class="container pt-5 w-25">
  <div class="card">
    <div class="card-body">
      <img src="{% static 'aplicacao/img/letflix_gray.png'%}" class="img-fluid mx-auto">
      <form method="post">
        {% csrf_token %}
          <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text">Usuário</span>
              </div>
              {% render_field form.username class+="form-control" %}
          </div>
          <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text">Senha</span>
              </div>
              {% render_field form.password class+="form-control" %}
          </div>
        <div class="row mx-md-4">
          <div class="col">
            <button type="submit" class="btn btn-dark col">Login</button>
          </div>
          <div class="col">
            <a href="{%url 'signup'%}" class="btn btn-dark col">Sign Up</a>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
</div>
{% endblock %}