{% extends "aplicacao/_layout/base.html" %}

{%load static%}
{% load widget_tweaks %}
{%block conteudo%}
<div class="container pt-5">
  <div class="card border-dark">
    <div class="card-body">
      <h2>Cadastre-se</h2>
      <br>
      <form method="post">
        {% csrf_token %}
        
          <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text">Usuário:</span>
              </div>
              {% render_field form.username class+="form-control" %}
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">Senha:</span>
            </div>
            {% render_field form.password1 class+="form-control" %}
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">Repita a Senha:</span>
            </div>
            {% render_field form.password2 class+="form-control" %}
          </div>
        <button type="submit" class="btn btn-dark">Enviar</button>
      </form>
    </div>
  </div>
</div>
</div>
{% endblock %}