<!DOCTYPE html>
<html>
{% load static %}
	<head>
		<link rel="stylesheet" href="{% static 'aplicacao/css/aplicacao.css' %}">
		<title>Letflix</title>
	</head>
	<body class="bodyIndex">
		<a href="{%url 'login'%}"><img class="imgLetflixIndex" src="{%static 'aplicacao/img/letflix.png' %}"></a>
	</body>
</html>