{% extends "aplicacao/_layout/base.html" %}

{%load static%}

{%block conteudo%}
<div class="container pt-5">
  <div class="card border-dark">
    <div class="card-body" style="width: 100%">
        <h5> Filmes </h5>
        <!-- Carousel -->
        <div class="bd-example">
          <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              {% for filme in filmes|slice:":200"%}
                {% if forloop.first %}
              <div class="carousel-item active">
                {% else %}
              <div class="carousel-item">
                {% endif %}
                <img src="{% static 'aplicacao/img/card/left.jpg' %}" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                  <h5>{{ filme.conteudo.titulo }}</h5>
                  <p>{{ filme.premiacao }}</p>
                  <a href="{%url 'saibamais' objeto='filme' pk=filme.pk%}"class="btn btn-dark">Saiba mais!</a>
                </div>
              </div>
              {%endfor%}
            </div>
            <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
<br>
      <h5> Séries </h5>
      <!-- Carousel -->
      <div class="bd-example">
        <div id="carouselExampleCaptions2" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            {%for serie in series%}
              {% if forloop.first %}
            <div class="carousel-item active">
              {% else %}
            <div class="carousel-item">
              {% endif %}
              <img src="{% static 'aplicacao/img/card/left.jpg' %}" class="d-block w-100" alt="...">
              <div class="carousel-caption d-none d-md-block">
                <h5>{{ serie.titulo }}</h5>
                <a href="{%url 'saibamais' objeto='serie' pk=serie.pk%}"class="btn btn-dark">Saiba mais!</a>
              </div>
            </div>
            {%endfor%}
          </div>
          <a class="carousel-control-prev" href="#carouselExampleCaptions2" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleCaptions2" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}