{% extends "aplicacao/_layout/base.html" %}
{%load static%}
{% load widget_tweaks %}
{%block title%} Cadastro de Série {%endblock%}

{%block conteudo%}
<div class="container pt-5">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Cadastro de Série</h5>
          <p class="card-text">
            Complete o formulário abaixo para cadastrar
            uma nova <code>Série</code>.
          </p>
          <form method="post">
            <!-- Não se esqueça dessa tag -->
            {% csrf_token %}

            <!-- Premiacao -->
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text">Título</span>
              </div>
              {% render_field form.titulo class+="form-control" %}
            </div>

            <!-- Conteudo -->
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text">Descrição</span>
              </div>
              {% render_field form.descricao_geral class+="form-control" %}
            </div>

            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text">Status</span>
              </div>
              {% render_field form.status class+="form-control" %}
            </div>

            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text">Premiação</span>
              </div>
              {% render_field form.premiacao class+="form-control" %}
            </div>



            <button class="btn btn-dark">Enviar</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{%endblock%}