{% extends "aplicacao/_layout/base.html" %}
{%load static%}

{%block conteudo%}
<div class="container pt-5">
	<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
		<div class="card">
			<div class="card-body">
				<h5 class="card-title">Remoção de <b>{{episodio.conteudo.titulo}}</b></h5>
				   <p class="card-text">Deseja mesmo apagar ?</p>
				<form method="post">
					{% csrf_token %}
				   <a href="{%url 'series/'%}" class="btn btn-dark">Cancelar</a>
				   <button class="btn btn-danger">Excluir</button>
				</form>
			</div>
		</div>
	</div>
</div>
{%endblock%}