{% extends "aplicacao/_layout/base.html" %}
{%load static%}

{%block title%} Saiba mais! - {{serie.titulo}} {%endblock%}

{%block conteudo%}
<div class="container pt-5">
	<div class="row">
		<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
			<div class="card text-white bg-dark mb-3">
				<img src="{% static 'aplicacao/img/card/ssa.jpg' %}" class="card-img-top">
				<div class="card-header">{{serie.titulo}}</div>
				<div class="card-body">
					<ul class="list-group">
						<li class="list-group-item text-white bg-dark">Descrição: <b>{{serie.descricao_geral}}</b></li>
						<li class="list-group-item text-white bg-dark">Status: <b>{{serie.status}}</b></li>
						<li class="list-group-item text-white bg-dark">Premiação: <b>{{serie.premiacao}}</b></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
			<div class="card text-white bg-dark mb-3">
				<iframe ckass="card-img-top"  height="315" src="https://www.youtube-nocookie.com/embed/Rz9ydImMz_c" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			</div>
		</div>
	</div>
</div>
{%endblock%}