{% extends "aplicacao/_layout/base.html" %}
{%load static%}

{%block linkrel%}
    <link rel="stylesheet" type="text/css" href="{%static 'aplicacao/datatable/dataTables.bootstrap4.min.css'%}"/>
{%endblock%}

{%block conteudo%}
<div class="container pt-5">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card border-dark">
        <div class="card-body">
          <h5 class="card-title">Lista de Episódios de {{episodio.serie.titulo}}</h5>

        {% if episodio|length > 0 %}

        <table id="serieList" class="table table-striped table-bordered" style="width:100%">
            <thead>
                <tr>
                    <!--<th>ID</th>-->
                    <th>Temporada</th>
                    <th>Episódio</th>
                    <th>Título</th>
                    <th>Descrição</th>
                    <th>Duração</th>
                    <!--<th>Original</th>-->
                    <th>Distribuição</th>
                    <th>Classificação Indicativa</th>
                    <th>Editar</th>
                    <th>Remover</th>
                </tr>
            </thead>
            <tbody>
                {% for episodio in episodio|slice:":200" %}
                <tr>
                    <!--<td>{{ filme.pk }}</td>-->
                    <td>{{ episodio.temporada }}</td>
                    <td>{{ episodio.episodio }}</td>
                    <td>{{ episodio.conteudo.titulo }}</td>
                    <td>{{ episodio.conteudo.descricao }}</td>
                    <td>{{ episodio.conteudo.duracao }}</td>
                    <!--<td>{{ episodio.conteudo.original }}</td>-->
                    <td>{{ episodio.conteudo.distribuicao }}</td>
                    <td>{{ episodio.conteudo.classificacaoindicativa }}</td>
                    <td>
                        <a href="{%url 'updateEpisodio' pk=episodio.pk%}" class="btn btn-dark">Editar</a>
                    </td>
                    <td>
                        <a href="{%url 'deleteEpisodio' pk=episodio.pk%}" class="btn btn-dark">Remover</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        {% else %}
        <div class="text-center mt-5 mb-5 jumbotron">
            <h5>Nenhum episódio cadastrada ainda.</h5>
         </div>
        {% endif %}


        <a href="{%url 'criaEpisodio' pk=serie.pk%}" class="btn btn-dark"> Adicionar Episódio </a>
        </div>
    </div>
</div>
{%endblock%}

{% block scripts %}
    <script type="text/javascript">
        $(document).ready(function() {
            $('#serieList').DataTable( {
                "language":
                {
                    "lengthMenu": "Mostra _MENU_ dados por página.",
                    "zeroRecords": "Não há registros disponíveis.",
                    "info": "Página _PAGE_ de _PAGES_.",
                    "infoEmpty": "Não há registros disponíveis.",
                    "infoFiltered": "(filtrado de _MAX_ registros).",
                    "search": "Pesquisa:",
                },
               responsive:true,
            });
    } );
    </script>
{% endblock %}
