{% extends "aplicacao/_layout/base.html" %}
{%load static%}

{%block linkrel%}
    <link rel="stylesheet" type="text/css" href="{%static 'aplicacao/datatable/dataTables.bootstrap4.min.css'%}"/>
{%endblock%}

{%block conteudo%}
<div class="container pt-5">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card border-dark">
        <div class="card-body">
          <h5 class="card-title">Lista de Filmes</h5>

        {% if object_list|length > 0 %}

        <table id="filmeList" class="table table-striped table-bordered " style="width:100%">
            <thead>
                <tr>
                    <!--<th>ID</th>-->
                    <th>Premiação</th>
                    <th>Título</th>
                    <th>Classificação Indicativa</th>
                    <th>Original</th>
                    <th>Descrição</th>
                    <th>Duração</th>
                    <th>Distribuição</th>
                    <th>Editar</th>
                    <th>Remover</th>
                </tr>
            </thead>
            <tbody>
                {% for filme in object_list|slice:":200" %}
                <tr>
                    <!--<td>{{ filme.pk }}</td>-->
                    <td>{{ filme.premiacao }}</td>
                    <td>{{ filme.conteudo.titulo }}</td>
                    <td>{{ filme.conteudo.classificacaoindicativa }}</td>
                    <td>{{ filme.conteudo.original }}</td>
                    <td>{{ filme.conteudo.descricao }}</td>
                    <td>{{ filme.conteudo.duracao }}</td>
                    <td>{{ filme.conteudo.distribuicao }}</td>
                    <td>
                        <a href="{% url 'atualizaFilme' pk=filme.pk%}" class="btn btn-dark">Editar</a>
                    </td>
                    <td>
                        <a href="{% url 'deleteFilme' pk=filme.pk%}" class="btn btn-dark">Remover</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        {% else %}
        <div class="text-center mt-5 mb-5 jumbotron">
            <h5>Nenhum filme cadastrado ainda.</h5>
         </div>
        {% endif %}


        <a href="{% url 'criaFilme'%}" class="btn btn-dark"> Adicionar Filme </a>
        </div>
    </div>
</div>
{%endblock%}

{% block scripts %}
    <script type="text/javascript">
        $(document).ready(function() {
            var table = $('#filmeList').DataTable( {
                responsive: {details:{type: 'column'}},
                "language":
                {
                    "lengthMenu": "Mostra _MENU_ dados por página.",
                    "zeroRecords": "Não há registros disponíveis.",
                    "info": "Página _PAGE_ de _PAGES_.",
                    "infoEmpty": "Não há registros disponíveis.",
                    "infoFiltered": "(filtrado de _MAX_ registros).",
                    "search": "Pesquisa:",
                },
            });
            //new $.fn.dataTable.FixedHeader( table );
    } );
    </script>
{% endblock %}
