{% extends "aplicacao/_layout/base.html" %}
{%load static%}

{%block linkrel%}
    <link rel="stylesheet" type="text/css" href="{%static 'aplicacao/datatable/dataTables.bootstrap4.min.css'%}"/>
{%endblock%}

{%block conteudo%}
<div class="container pt-5">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card border-dark">
        <div class="card-body">
          <h5 class="card-title">Lista de Séries</h5>

        {% if object_list|length > 0 %}

        <table id="serieList" class="table table-striped table-bordered" style="width:100%">
            <thead>
                <tr>
                    <!--<th>ID</th>-->
                    <th>Título</th>
                    <th>Descrição</th>
                    <th>Status</th>
                    <th>Premiação</th>
                    <th>Episódios</th>
                    <th>Editar</th>
                    <th>Remover</th>
                </tr>
            </thead>
            <tbody>
                {% for serie in object_list|slice:":200" %}
                <tr>
                    <!--<td>{{ filme.pk }}</td>-->
                    <td>{{ serie.titulo }}</td>
                    <td>{{ serie.descricao_geral }}</td>
                    <td>{{ serie.status }}</td>
                    <td>{{ serie.premiacao }}</td>
                    <td>
                        <a href="{%url 'listaEpisodio' pk=serie.pk%}" class="btn btn-dark">Listagem</a>
                    </td>
                    <td>
                        <a href="{%url 'updateSerie' pk=serie.pk%}" class="btn btn-dark">Editar</a>
                    </td>
                    <td>
                        <a href="{%url 'deleteSerie' pk=serie.pk%}" class="btn btn-dark">Remover</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        {% else %}
        <div class="text-center mt-5 mb-5 jumbotron">
            <h5>Nenhuma série cadastrada ainda.</h5>
         </div>
        {% endif %}


        <a href="{% url 'createSerie'%}" class="btn btn-dark"> Adicionar Série </a>
        </div>
    </div>
</div>
{%endblock%}

{% block scripts %}
    <script type="text/javascript">
        $(document).ready(function() {
            $('#serieList').DataTable( {
                "language":
                {
                    "lengthMenu": "Mostra _MENU_ dados por página.",
                    "zeroRecords": "Não há registros disponíveis.",
                    "info": "Página _PAGE_ de _PAGES_.",
                    "infoEmpty": "Não há registros disponíveis.",
                    "infoFiltered": "(filtrado de _MAX_ registros).",
                    "search": "Pesquisa:",
                }
            });
    } );
    </script>
{% endblock %}
