{% extends "aplicacao/_layout/base.html" %}
{%load static%}
{% load widget_tweaks %}
{%block title%} Cadastro de Filme {%endblock%}

{%block conteudo%}
<div class="container pt-5">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Atualização de Filme</h5>
          <p class="card-text">
            Complete o formulário abaixo para atualizar
            um <code>Filme</code>.
          </p>
          <form method="post" id="form1">
            <!-- Não se esqueça dessa tag -->
            {% csrf_token %}

            <!-- Premiacao -->
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text">Título</span>
              </div>
              {% render_field form_Filme.titulo class+="form-control" %}
            </div>

            <!-- Conteudo -->
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text">Descrição</span>
              </div>
              {% render_field form_Filme.descricao class+="form-control" %}
            </div>

            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text">Classificação Indicativa</span>
              </div>
              {% render_field form_Filme.classificacaoindicativa class+="form-control" %}
            </div>

            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text">Duração</span>
              </div>
              {% render_field form_Filme.duracao class+="form-control" %}
            </div>

            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text">Original?</span>
              </div>
              {% render_field form_Filme.original class+="form-control" %}
            </div>

            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text">Distruibuição</span>
              </div>
              {% render_field form_Filme.distribuicao class+="form-control" %}
            </div>
            
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text">Premiação</span>
              </div>
              {% render_field form_Filme.premiacao class+="form-control" %}
            </div>
             
             <button type="submit" class="save btn btn-dark">Salvar</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{%endblock%}