{% extends "aplicacao/_layout/base.html" %}

{%load static%}

{% load widget_tweaks %}

{% block title %}Atualização de Dados do Conteudo{% endblock %}

{%block conteudo%}
<div class="container pt-5">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Atualização de Dados do Conteudo: <b>{{conteudo.titulo}}</b></h5>          
          <form method="post">
            <!-- Não se esqueça dessa tag -->
            {% csrf_token %}

            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text">Classificação Indicativa</span>
              </div>
              {% render_field form.classificacaoindicativa class+="form-control" %}
            </div>

            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text">Título</span>
              </div>
              {% render_field form.titulo class+="form-control" %}
            </div>

            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text">Original?</span>
              </div>
              {% render_field form.original class+="form-control" %}
            </div>

            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text">Descrição</span>
              </div>
              {% render_field form.descricao class+="form-control" %}
            </div>

            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text">Duração</span>
              </div>
              {% render_field form.duracao class+="form-control" %}
            </div>

            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text">Distruibuição</span>
              </div>
              {% render_field form.distribuicao class+="form-control" %}
            </div>

            <!--<a href="{%url 'updateFilme' pk=conteudo.pk%}" role="button">Enviar</a>-->
            <button class="btn btn-dark">Enviar</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{%endblock%}