{% extends "aplicacao/_layout/base.html" %}

{%load static%}

{% load widget_tweaks %}

{% block title %}Atualização de Dados do Filme{% endblock %}

{%block conteudo%}
<div class="container pt-5">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Atualização de Dados de <b>{{filme.conteudo.titulo}}</b></h5>          
          <form method="post">
            <!-- Não se esqueça dessa tag -->
            {% csrf_token %}

            <!-- Nome -->
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text">Premiação</span>
              </div>
              {% render_field form.premiacao class+="form-control" %}
            </div>

            <!-- Sobrenome -->
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text">Conteúdo</span>
              </div>
              <div>
              {% render_field form.conteudo|attr:"disabled" class+="form-control" %}
              </div>
              <a href="{%url 'updateConteudo' pk=filme.pk%}" class="btn btn-dark">Editar Conteúdo</a>
            </div>

            <button class="btn btn-dark">Enviar</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{%endblock%}