<!DOCTYPE html>
<html>
	{% load static %}
	<head>
		<title>
			{%block title%} Letflix {%endblock%}
		</title>

		<!-- CSS -->
		<link rel="stylesheet" href="{% static 'aplicacao/css/bootstrap.min.css' %}">
		<link rel="stylesheet" href="{% static 'aplicacao/css/aplicacao.css' %}">
        {%block linkrel%}
        {%endblock%}

	</head>
	<body>
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        {%if user.is_authenticated%}    
            <a class="navbar-brand" href="{%url 'inicio'%}">
              <img src="{% static 'aplicacao/img/letflix.png' %}" height='45px'>
            </a>
        {%else%}
            <a class="navbar-brand" href="{%url 'login'%}">
              <img src="{% static 'aplicacao/img/letflix.png' %}" height='45px'>
            </a>
        {%endif%}
        <button class="navbar-toggler" type="button" 
            data-toggle="collapse" data-target="#conteudo-navbar" 
            aria-controls="conteudo-navbar" aria-expanded="false" 
            aria-label="Ativar navegação">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="conteudo-navbar">
        {% if user.is_authenticated %}
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{%url 'inicio'%}">
                      Início
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{%url 'filmes/'%}">
                        Filmes
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{%url 'series/'%}">
                        Séries
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{%url 'conteudos/'%}">
                        Conteúdos
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{%url 'logout'%}">
                        Logout
                    </a>
                </li>
            </ul>           
        {%else%}
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{%url 'login'%}">
                      Login
                    </a>
                </li>
            </ul>
        {%endif%}
        </div>
    	</nav>
        {%block conteudo%}
            <!--{% if user.is_authenticated %}
                Hi {{user.username}}
                <a href="{% url 'logout' %}" class="btn btn-dark">Logout</a>
            {%else%}
              <div class=container>
                <h5>Você não está logado!</h5>
                <a href="{%url 'login'%}" class="btn btn-dark">Login</a>
              </div>
            {%endif%}-->
        {%endblock%}
    	<!-- Arquivos necessários para o Bootstrap -->
        <script src="{%static 'aplicacao/js/popper.min.js'%}"></script>
	    <script src="{% static 'aplicacao/js/jquery.min.js' %}"></script>
	    <script src="{% static 'aplicacao/js/bootstrap.min.js' %}"></script>
        <script type="text/javascript" src="{%static 'aplicacao/datatable/datatables.min.js'%}"></script>
	    <!-- Bloco de scripts -->

	    <!-- Scripts.js -->
    </body>
</html>

{% block scripts %}{% endblock %}